# 📌 Framework para construir RAG y conectar con LLMs
langchain
langchain-community

# 📌 Modelos de lenguaje y embeddings

ollama
sentence-transformers

# 📌 Procesamiento de PDFs y extracción de texto
pymupdf

# 📌 Detección de idioma y traducción automática
langdetect
deep_translator

# 📌 Otras dependencias esenciales
numpy

flask 
flask-cors

streamlit